## Importing Required Libraries

In [1]:
import pandas as pd

### Dataset Overview:
**Title:** *Country_population_2022.csv*

**Source:** *World Bank Group*  
**Reference:** [World Bank - Population Data](https://data.worldbank.org/indicator/SP.POP.TOTL)

**Description:**  
This dataset presents the population figures for various countries around the globe for the year 2022. It is structured as a two-dimensional dataset, providing key demographic data on a country-by-country basis.

**Columns:**
- **Country:** The name of each country included in the dataset.
- **Population:** The total population of the respective country as recorded in 2022.

In [2]:
population_df = pd.read_csv("Country_population_2022.csv")
population_df

                   Country  Population
0              Afghanistan    41128771
1                  Albania     2777689
2                  Algeria    44903225
3           American Samoa       44273
4                  Andorra       79824
..                     ...         ...
211          Venezuela, RB    28301696
212     West Bank and Gaza     5043612
213  Virgin Islands (U.S.)      105413
214                 Zambia    20017675
215            Yemen, Rep.    33696614

[216 rows x 2 columns]

### Dataset Overview:
**Title:** *GDP_2022.csv*

**Source:** *World Bank Group*  
**Reference:** [World Bank - GDP (current US$)](https://data.worldbank.org/indicator/NY.GDP.MKTP.CD)

**Description:**  
This dataset presents the GDP figures for various countries around the globe for the year 2022. It is structured as a two-dimensional dataset.

**Columns:**
- **Country:** The name of each country included in the dataset.
- **GDP:** The total GDP of the respective country as recorded in 2022.

In [3]:
gdp_df = pd.read_csv("GDP_2022.csv")
gdp_df

                   Country               GDP
0              Afghanistan  14502158192.0904
1                  Albania  18916378860.5488
2                  Algeria  225560256621.757
3           American Samoa         871000000
4                  Andorra  3380602042.84283
..                     ...               ...
212  Virgin Islands (U.S.)                ..
213     West Bank and Gaza       19165500000
214            Yemen, Rep.                ..
215                 Zambia  29163782140.4858
216               Zimbabwe  27366627153.0954

[217 rows x 2 columns]

## Joining the datasets

The datasets are joined on the key attribute *Country*

In [4]:
merged_df = pd.merge(population_df,gdp_df,on="Country",how="inner")
merged_df

                   Country  Population               GDP
0              Afghanistan    41128771  14502158192.0904
1                  Albania     2777689  18916378860.5488
2                  Algeria    44903225  225560256621.757
3           American Samoa       44273         871000000
4                  Andorra       79824  3380602042.84283
..                     ...         ...               ...
211          Venezuela, RB    28301696                ..
212     West Bank and Gaza     5043612       19165500000
213  Virgin Islands (U.S.)      105413                ..
214                 Zambia    20017675  29163782140.4858
215            Yemen, Rep.    33696614                ..

[216 rows x 3 columns]