In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('retail_sales_dataset.csv')
df

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100
...,...,...,...,...,...,...,...,...,...
995,996,2023-05-16,CUST996,Male,62,Clothing,1,50,50
996,997,2023-11-17,CUST997,Male,52,Beauty,3,30,90
997,998,2023-10-29,CUST998,Female,23,Beauty,4,25,100
998,999,2023-12-05,CUST999,Female,36,Electronics,3,50,150
999,1000,2023-04-12,CUST1000,Male,47,Electronics,4,30,120

## Roll Up Operation

In [3]:
# Aggregate Total Amount by Product Category
agg_product_category = df.groupby('Product Category')['Total Amount'].sum().reset_index()
print("Aggregation by Product Category:")
print(agg_product_category)

Aggregation by Product Category:
  Product Category  Total Amount
0           Beauty        143515
1         Clothing        155580
2      Electronics        156905

## Drill Down Operation

In [4]:
# Drill down to Gender within each Date and Product Category
agg_gender = df.groupby(['Product Category', 'Date', 'Gender'])['Total Amount'].sum().reset_index()
print("\nDrill-Down by Gender within Date and Product Category:")
print(agg_gender)

Drill-Down by Gender within Date and Product Category:
    Product Category        Date  Gender  Total Amount
0             Beauty  2023-01-01    Male          1500
1             Beauty  2023-01-02  Female            25
2             Beauty  2023-01-03  Female           600
3             Beauty  2023-01-04    Male          1090
4             Beauty  2023-01-05    Male            50
..               ...         ...     ...           ...
787      Electronics  2023-12-28  Female            25
788      Electronics  2023-12-28    Male            50
789      Electronics  2023-12-29  Female           100
790      Electronics  2023-12-31    Male            50
791      Electronics  2024-01-01    Male            30

[792 rows x 4 columns]

## Slice Operation

In [5]:
# Slice the dataset where Product Category is 'Electronics' and Gender is 'Male'
slice_df = df[(df['Product Category'] == 'Electronics')]

print("Sliced Data:")
print(slice_df)

Sliced Data:
     Transaction ID        Date Customer ID  Gender  Age Product Category  \
2                 3  2023-01-13     CUST003    Male   50      Electronics
7                 8  2023-02-22     CUST008    Male   30      Electronics
8                 9  2023-12-13     CUST009    Male   63      Electronics
12               13  2023-08-05     CUST013    Male   22      Electronics
14               15  2023-01-16     CUST015  Female   42      Electronics
..              ...         ...         ...     ...  ...              ...
988             989  2023-12-28     CUST989  Female   44      Electronics
991             992  2023-08-21     CUST992  Female   57      Electronics
992             993  2023-02-06     CUST993  Female   48      Electronics
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount
2           1              30            30
7           4              25           100
8           2             300           600
12          3             500          1500
14          4             500          2000
..        ...             ...           ...
988         1              25            25
991         2              30            60
992         3              50           150
998         3              50           150
999         4              30           120

[342 rows x 9 columns]

## Dice Operation

In [6]:
# Dice operation: multiple conditions
diced_df = df[
    (df['Product Category'].isin(['Electronics', 'Clothing'])) &
    (df['Gender'] == 'Female') & 
    (df['Age'] >= 25) & (df['Age'] <= 35) 
]

print("Diced Data:")
print(diced_df)

Diced Data:
     Transaction ID        Date Customer ID  Gender  Age Product Category  \
1                 2  2023-02-27     CUST002  Female   26         Clothing
16               17  2023-04-22     CUST017  Female   27         Clothing
22               23  2023-04-12     CUST023  Female   35         Clothing
25               26  2023-10-07     CUST026  Female   28      Electronics
55               56  2023-05-31     CUST056  Female   26         Clothing
..              ...         ...         ...     ...  ...              ...
979             980  2023-07-29     CUST980  Female   31      Electronics
980             981  2023-08-19     CUST981  Female   30      Electronics
982             983  2023-11-01     CUST983  Female   29         Clothing
986             987  2023-04-29     CUST987  Female   30         Clothing
990             991  2023-12-26     CUST991  Female   34         Clothing

     Quantity  Price per Unit  Total Amount
1           2             500          1000
16          4              25           100
22          4              30           120
25          2             500          1000
55          3             300           900
..        ...             ...           ...
979         3              25            75
980         2              30            60
982         1             300           300
986         3             300           900
990         2              50           100

[77 rows x 9 columns]

In [7]:
# Pivot the data to view Total Amount across Product Category and Gender for each Date
pivot_df = df.pivot_table(values='Total Amount', index='Date', columns=['Product Category', 'Gender'], aggfunc='sum')

print("Pivot Table:")
print(pivot_df)

Pivot Table:
Product Category  Beauty         Clothing        Electronics
Gender            Female    Male   Female   Male      Female  Male
Date
2023-01-01           NaN  1500.0   1200.0  900.0         NaN   NaN
2023-01-02          25.0     NaN   1650.0    NaN         NaN  90.0
2023-01-03         600.0     NaN      NaN    NaN         NaN   NaN
2023-01-04           NaN  1090.0    150.0    NaN         NaN   NaN
2023-01-05           NaN    50.0      NaN    NaN      1050.0   NaN
...                  ...     ...      ...    ...         ...   ...
2023-12-27           NaN   100.0      NaN    NaN       600.0   NaN
2023-12-28           NaN     NaN   2000.0    NaN        25.0  50.0
2023-12-29        2100.0  1200.0      NaN    NaN       100.0   NaN
2023-12-31           NaN     NaN      NaN    NaN         NaN  50.0
2024-01-01           NaN  1500.0      NaN    NaN         NaN  30.0

[345 rows x 6 columns]