## Practical 6: To pre-process the data and clean the data by removing or replacing key values

### Import necessary libraries Numpy and Pandas for data Processing

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

### Reading the dataset

In [2]:
df = pd.read_csv('Elephantpopulation.csv')
df

,STATE,ELEPHANT POPULATION IN 1993,ELEPHANT POPULATION IN 1997,ELEPHANT POPULATION IN 2002,ELEPHANT POPULATION IN 2007,ELEPHANT POPULATION IN 2012,ELEPHANT POPULATION IN 2017
0,Arunachal Pradesh,2102,1800,1607,1690,890,1614
1,Assam,5524,5312,5246,5281,5620,5719
2,Meghalaya,2872,1840,1868,1811,1811 (Census not conducted),1754
3,Nagaland,178,158,145,152,212,446
4,Mizoram,15,22,33,12,Census not conducted,7
5,Manipur,50,30,12,Census not conducted,Census not conducted,9
6,Tripura,100,70,40,59,59,102
7,West Bengal (North),186,250,292,300-350,647,488
8,West Bengal (South),14,26,36,25,North and South Bengals are combined.,194
9,Jharkhand,550,618,772,624,688,679
10,Odisha,1750,1800,1841,1862,1930,1976
11,Chhattisgarh,Census not conducted,Census not conducted,Census not conducted,122,247,247
12,Bihar,Census not conducted,Census not conducted,Census not conducted,Census not conducted,Census not conducted,25
13,Madhya Pradesh,Census not conducted,Census not conducted,Census not conducted,Census not conducted,Census not conducted,7
14,Uttarakhand,828,1130,1582,1346,1346 (Census not conducted),1839
15,Uttar Pradesh,47,70,85,380,291,232
16,Haryana,Census not conducted,Census not conducted,Census not conducted,Census not conducted,Census not conducted,7
17,Himachal Pradesh,Census not conducted,Census not conducted,Census not conducted,Census not conducted,Census not conducted,7
18,Tamil Nadu,2307,2971,3052,3867,4015,2761
19,Karnataka,5500,6088,5838,4035,5648-6488,6049
20,Kerala,3500,3600,3850,6068,5942-6422,5706
21,Andhra Pradesh,46,57,74,28,41,65
22,Maharashtra,Census not conducted,Census not conducted,Census not conducted,7,4,6
23,A&N Nicobar Islands,Census not conducted,Census not conducted,Census not conducted,Census not conducted,Census not conducted,25
24,Total,25569,25842,26373,27669-27719,29391-30711,29964

### Replacing string "Census not conducted" with Nan

In [3]:
df.replace("Census not conducted", np.nan, inplace=True)
df

,STATE,ELEPHANT POPULATION IN 1993,ELEPHANT POPULATION IN 1997,ELEPHANT POPULATION IN 2002,ELEPHANT POPULATION IN 2007,ELEPHANT POPULATION IN 2012,ELEPHANT POPULATION IN 2017
0,Arunachal Pradesh,2102,1800,1607,1690,890,1614
1,Assam,5524,5312,5246,5281,5620,5719
2,Meghalaya,2872,1840,1868,1811,1811 (Census not conducted),1754
3,Nagaland,178,158,145,152,212,446
4,Mizoram,15,22,33,12,NaN,7
5,Manipur,50,30,12,NaN,NaN,9
6,Tripura,100,70,40,59,59,102
7,West Bengal (North),186,250,292,300-350,647,488
8,West Bengal (South),14,26,36,25,North and South Bengals are combined.,194
9,Jharkhand,550,618,772,624,688,679
10,Odisha,1750,1800,1841,1862,1930,1976
11,Chhattisgarh,NaN,NaN,NaN,122,247,247
12,Bihar,NaN,NaN,NaN,NaN,NaN,25
13,Madhya Pradesh,NaN,NaN,NaN,NaN,NaN,7
14,Uttarakhand,828,1130,1582,1346,1346 (Census not conducted),1839
15,Uttar Pradesh,47,70,85,380,291,232
16,Haryana,NaN,NaN,NaN,NaN,NaN,7
17,Himachal Pradesh,NaN,NaN,NaN,NaN,NaN,7
18,Tamil Nadu,2307,2971,3052,3867,4015,2761
19,Karnataka,5500,6088,5838,4035,5648-6488,6049
20,Kerala,3500,3600,3850,6068,5942-6422,5706
21,Andhra Pradesh,46,57,74,28,41,65
22,Maharashtra,NaN,NaN,NaN,7,4,6
23,A&N Nicobar Islands,NaN,NaN,NaN,NaN,NaN,25
24,Total,25569,25842,26373,27669-27719,29391-30711,29964

### Replacing ranges with the mean of low and high

In [4]:
def convert_range_to_avg(value):
    if isinstance(value, str) and '-' in value:
        low, high = map(int, value.split('-'))
        return (low + high) / 2
    return value

for col in df.columns[1:]:
    df[col] = df[col].apply(convert_range_to_avg)

df

,STATE,ELEPHANT POPULATION IN 1993,ELEPHANT POPULATION IN 1997,ELEPHANT POPULATION IN 2002,ELEPHANT POPULATION IN 2007,ELEPHANT POPULATION IN 2012,ELEPHANT POPULATION IN 2017
0,Arunachal Pradesh,2102,1800,1607,1690,890,1614
1,Assam,5524,5312,5246,5281,5620,5719
2,Meghalaya,2872,1840,1868,1811,1811 (Census not conducted),1754
3,Nagaland,178,158,145,152,212,446
4,Mizoram,15,22,33,12,NaN,7
5,Manipur,50,30,12,NaN,NaN,9
6,Tripura,100,70,40,59,59,102
7,West Bengal (North),186,250,292,325.0,647,488
8,West Bengal (South),14,26,36,25,North and South Bengals are combined.,194
9,Jharkhand,550,618,772,624,688,679
10,Odisha,1750,1800,1841,1862,1930,1976
11,Chhattisgarh,NaN,NaN,NaN,122,247,247
12,Bihar,NaN,NaN,NaN,NaN,NaN,25
13,Madhya Pradesh,NaN,NaN,NaN,NaN,NaN,7
14,Uttarakhand,828,1130,1582,1346,1346 (Census not conducted),1839
15,Uttar Pradesh,47,70,85,380,291,232
16,Haryana,NaN,NaN,NaN,NaN,NaN,7
17,Himachal Pradesh,NaN,NaN,NaN,NaN,NaN,7
18,Tamil Nadu,2307,2971,3052,3867,4015,2761
19,Karnataka,5500,6088,5838,4035,6068.0,6049
20,Kerala,3500,3600,3850,6068,6182.0,5706
21,Andhra Pradesh,46,57,74,28,41,65
22,Maharashtra,NaN,NaN,NaN,7,4,6
23,A&N Nicobar Islands,NaN,NaN,NaN,NaN,NaN,25
24,Total,25569,25842,26373,27694.0,30051.0,29964

### Converting the string to numeric data type

In [5]:
def is_numeric_string(value):
    try:
        # Try to convert the value to an integer
        return int(value)
    except ValueError:
        # If conversion fails, return NaN
        return np.nan

# Apply the function to the DataFrame, column by column (excluding the 'State' column)
df.iloc[:, 1:] = df.iloc[:, 1:].applymap(is_numeric_string)
df

,STATE,ELEPHANT POPULATION IN 1993,ELEPHANT POPULATION IN 1997,ELEPHANT POPULATION IN 2002,ELEPHANT POPULATION IN 2007,ELEPHANT POPULATION IN 2012,ELEPHANT POPULATION IN 2017
0,Arunachal Pradesh,2102.0,1800.0,1607.0,1690.0,890.0,1614
1,Assam,5524.0,5312.0,5246.0,5281.0,5620.0,5719
2,Meghalaya,2872.0,1840.0,1868.0,1811.0,NaN,1754
3,Nagaland,178.0,158.0,145.0,152.0,212.0,446
4,Mizoram,15.0,22.0,33.0,12.0,NaN,7
5,Manipur,50.0,30.0,12.0,NaN,NaN,9
6,Tripura,100.0,70.0,40.0,59.0,59.0,102
7,West Bengal (North),186.0,250.0,292.0,325.0,647.0,488
8,West Bengal (South),14.0,26.0,36.0,25.0,NaN,194
9,Jharkhand,550.0,618.0,772.0,624.0,688.0,679
10,Odisha,1750.0,1800.0,1841.0,1862.0,1930.0,1976
11,Chhattisgarh,NaN,NaN,NaN,122.0,247.0,247
12,Bihar,NaN,NaN,NaN,NaN,NaN,25
13,Madhya Pradesh,NaN,NaN,NaN,NaN,NaN,7
14,Uttarakhand,828.0,1130.0,1582.0,1346.0,NaN,1839
15,Uttar Pradesh,47.0,70.0,85.0,380.0,291.0,232
16,Haryana,NaN,NaN,NaN,NaN,NaN,7
17,Himachal Pradesh,NaN,NaN,NaN,NaN,NaN,7
18,Tamil Nadu,2307.0,2971.0,3052.0,3867.0,4015.0,2761
19,Karnataka,5500.0,6088.0,5838.0,4035.0,6068.0,6049
20,Kerala,3500.0,3600.0,3850.0,6068.0,6182.0,5706
21,Andhra Pradesh,46.0,57.0,74.0,28.0,41.0,65
22,Maharashtra,NaN,NaN,NaN,7.0,4.0,6
23,A&N Nicobar Islands,NaN,NaN,NaN,NaN,NaN,25
24,Total,25569.0,25842.0,26373.0,27694.0,30051.0,29964

### Replacing the Nan values with the median of each column

In [6]:
df['ELEPHANT POPULATION IN 1993'].fillna(df['ELEPHANT POPULATION IN 1993'].median(), inplace=True)
df['ELEPHANT POPULATION IN 1997'].fillna(df['ELEPHANT POPULATION IN 1997'].median(), inplace=True)
df['ELEPHANT POPULATION IN 2002'].fillna(df['ELEPHANT POPULATION IN 2002'].median(), inplace=True)
df['ELEPHANT POPULATION IN 2007'].fillna(df['ELEPHANT POPULATION IN 2007'].median(), inplace=True)
df['ELEPHANT POPULATION IN 2012'].fillna(df['ELEPHANT POPULATION IN 2012'].median(), inplace=True)
df['ELEPHANT POPULATION IN 2017'].fillna(df['ELEPHANT POPULATION IN 2017'].median(), inplace=True)
df

,STATE,ELEPHANT POPULATION IN 1993,ELEPHANT POPULATION IN 1997,ELEPHANT POPULATION IN 2002,ELEPHANT POPULATION IN 2007,ELEPHANT POPULATION IN 2012,ELEPHANT POPULATION IN 2017
0,Arunachal Pradesh,2102.0,1800.0,1607.0,1690.0,890.0,1614
1,Assam,5524.0,5312.0,5246.0,5281.0,5620.0,5719
2,Meghalaya,2872.0,1840.0,1868.0,1811.0,688.0,1754
3,Nagaland,178.0,158.0,145.0,152.0,212.0,446
4,Mizoram,15.0,22.0,33.0,12.0,688.0,7
5,Manipur,50.0,30.0,12.0,624.0,688.0,9
6,Tripura,100.0,70.0,40.0,59.0,59.0,102
7,West Bengal (North),186.0,250.0,292.0,325.0,647.0,488
8,West Bengal (South),14.0,26.0,36.0,25.0,688.0,194
9,Jharkhand,550.0,618.0,772.0,624.0,688.0,679
10,Odisha,1750.0,1800.0,1841.0,1862.0,1930.0,1976
11,Chhattisgarh,689.0,874.0,1177.0,122.0,247.0,247
12,Bihar,689.0,874.0,1177.0,624.0,688.0,25
13,Madhya Pradesh,689.0,874.0,1177.0,624.0,688.0,7
14,Uttarakhand,828.0,1130.0,1582.0,1346.0,688.0,1839
15,Uttar Pradesh,47.0,70.0,85.0,380.0,291.0,232
16,Haryana,689.0,874.0,1177.0,624.0,688.0,7
17,Himachal Pradesh,689.0,874.0,1177.0,624.0,688.0,7
18,Tamil Nadu,2307.0,2971.0,3052.0,3867.0,4015.0,2761
19,Karnataka,5500.0,6088.0,5838.0,4035.0,6068.0,6049
20,Kerala,3500.0,3600.0,3850.0,6068.0,6182.0,5706
21,Andhra Pradesh,46.0,57.0,74.0,28.0,41.0,65
22,Maharashtra,689.0,874.0,1177.0,7.0,4.0,6
23,A&N Nicobar Islands,689.0,874.0,1177.0,624.0,688.0,25
24,Total,25569.0,25842.0,26373.0,27694.0,30051.0,29964