## Practical 7: To generate SQL based reports using aggregate operations

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Plastic Waste Around the World.csv')
df

,Country,Total_Plastic_Waste_MT,Main_Sources,Recycling_Rate,Per_Capita_Waste_KG,Coastal_Waste_Risk
0,China,59.08,Packaging_Industrial,29.8,41.2,High
1,United States,42.02,Packaging_Consumer,32.1,127.5,Medium
2,India,26.33,Consumer_Goods,11.5,19.3,High
3,Japan,7.99,Packaging_Electronics,84.8,63.2,Medium
4,Germany,6.28,Automotive_Packaging,56.1,75.6,Low
...,...,...,...,...,...,...
160,Marshall Islands,0.01,Consumer_Packaging,1.8,168.5,High
161,Micronesia,0.01,Consumer_Packaging,1.5,86.3,High
162,Palau,0.01,Consumer_Packaging,12.3,437.2,High
163,Tuvalu,0.01,Consumer_Packaging,1.2,833.3,High
164,Nauru,0.01,Consumer_Packaging,0.9,927.8,High

### 1.Total Plastic Waste by Main Source

In [5]:
# Total plastic waste grouped by the main source
total_waste_by_source = df.groupby('Main_Sources')['Total_Plastic_Waste_MT'].sum().reset_index()
total_waste_by_source

            Main_Sources  Total_Plastic_Waste_MT
0   Automotive_Packaging                    6.28
1         Consumer_Goods                   26.33
2     Consumer_Packaging                   80.01
3  Electronics_Packaging                    2.91
4         Food_Packaging                   10.02
5    Industrial_Consumer                   10.43
6   Industrial_Packaging                   16.51
7     Packaging_Consumer                   57.27
8  Packaging_Electronics                    7.99
9   Packaging_Industrial                   66.63

### 2. Average Recycling Rate by Coastal Waste Risk Level

In [7]:
# Average recycling rate grouped by coastal waste risk level
avg_recycling_rate_by_risk = df.groupby('Coastal_Waste_Risk')['Recycling_Rate'].mean().reset_index()
avg_recycling_rate_by_risk

  Coastal_Waste_Risk  Recycling_Rate
0               High        5.498649
1                Low       19.662963
2             Medium       19.781818
3          Very_High        9.850000

### 3. Top 5 Countries by Per Capita Waste

In [8]:
# Top 5 countries with the highest per capita plastic waste
top_5_per_capita_waste = df[['Country', 'Per_Capita_Waste_KG']].nlargest(5, 'Per_Capita_Waste_KG')
top_5_per_capita_waste

        Country  Per_Capita_Waste_KG
79      Iceland               1564.4
78        Malta               1331.5
76   Montenegro               1004.8
77   Luxembourg                957.8
164       Nauru                927.8

### 4. Average Waste and Recycling Rate by Country

In [9]:
# Average total plastic waste and recycling rate grouped by country
avg_waste_recycling_by_country = df.groupby('Country')[['Total_Plastic_Waste_MT', 'Recycling_Rate']].mean().reset_index()
avg_waste_recycling_by_country

            Country  Total_Plastic_Waste_MT  Recycling_Rate
0       Afghanistan                    0.45             0.5
1           Albania                    0.31            15.6
2           Algeria                    1.15             4.3
3            Angola                    0.11             0.4
4         Argentina                    1.98            14.2
..              ...                     ...             ...
160         Vietnam                    2.54            15.3
161  Western Sahara                    0.01             0.2
162           Yemen                    0.43             0.3
163          Zambia                    0.13             1.8
164        Zimbabwe                    0.15             2.1

[165 rows x 3 columns]

### 5. Sum of Plastic Waste by Coastal Waste Risk Level

In [10]:
# Sum of plastic waste grouped by coastal waste risk level
sum_waste_by_risk_level = df.groupby('Coastal_Waste_Risk')['Total_Plastic_Waste_MT'].sum().reset_index()
sum_waste_by_risk_level

  Coastal_Waste_Risk  Total_Plastic_Waste_MT
0               High                  125.11
1                Low                   52.26
2             Medium                   96.95
3          Very_High                   10.06